
@use '../../styles/layout/scrollbar' as *;
.dashboardContainer {
  display: flex;  
  margin-bottom: 1rem; 
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column; 
  overflow-y: scroll; 
  @include scrollbar-type-2;
  height: 90vh;
}

.event_distibution_Container{
  display: flex;
  gap: var(--spacing-m); 
  height: 380px;
}

@media (max-width: 767px) {
  .event_distibution_Container {
    flex-direction: column;
    height: auto;
  }
}

.eventContainer{ 
  overflow-y: hidden;
  box-shadow: var(--shadow-s);
  border-radius: var(--radius-xl);
  background-color: #ffffff;
}

/* Optional: Add this if Navigation is fixed */
.dashboardMain {
  padding: 1rem; 
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
}

.dashboardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.doughnutConatiner{
  width: 50%;
  box-shadow: var(--shadow-s);
  border-radius: var(--radius-xl);
  background-color: #ffffff;
//   height: 50vh;
}

@media (max-width: 767px) {
  .doughnutConatiner {
    width: 100%;
    padding-bottom: 1rem;
  }
}

.barChartContainer{
  box-shadow: var(--shadow-s);
  border-radius: var(--radius-xl);
  background-color: #ffffff;
  padding: var(--spacing-m);
}


.cardGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.studentsSection{
font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .cardGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.dashboardCard {
  border-radius: 0.75rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  // background-color: var(--color-primary-50);
}

.icon {
  font-size: 1.875rem;
}

.cardLabel {
  font-size: 0.875rem;
}

.cardValue {
  font-size: 1.125rem;
  font-weight: bold;
}

.blue {
  background-color: var(--color-primary-50);
}

.green {
  background-color: #FC6770;
}

.yellow {
  background-color: #facc15;
  color: #0f172a;
}
