// .mainConatiner{

// }

.topRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  // height: 35px;
}

.informationType {
  border-radius: var(--radius-pill);
  background-color: var(--color-primary-20);
  width: fit-content;
  height: 35px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.buttons {
  border-radius: var(--radius-pill);
  background-color: var(--color-primary-20);
  color: var(--color-primary-50);
  // color: red;
  cursor: pointer;
  padding: 4px 16px;
}

.active {
  background-color: var(--color-primary-50);
  color: #ffffff;
}

.inputGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;

  label {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 6px;
  }

  input,
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.95rem;
  }
}

.search {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--color-primary-grey-60);
  border-radius: var(--radius-pill);
  background-color: #ffffff;
  height: 35px;
  margin-top: auto;
  margin-bottom: auto;
  width: 200px;
}

.icon {
  color: #000000;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  svg {
    width: 20px;
    height: 20px;
  }
}

.classDropdown {
  position: relative;
  display: inline-block;
  width: 140px;
}

.dropdownSelect {
  width: 100%;
  height: 35px;
  border-color: var(--color-primary-30);
  padding: 8px 36px 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: var(--radius-pill);
  appearance: none; /* Hide default arrow */
  background: white;
  cursor: pointer;
}

.arrowIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #555;

  svg {
    width: 25px;
    height: 25px;
    color: black;
  }
}

.clearbtn {
  color: var(--color-primary-60);
  background-color: white;
  outline: none;
  border: 0;
  cursor: pointer;
  color: #000000;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: 0.5rem;
  svg {
    width: 20px;
    height: 20px;
  }
}

.text {
  border: none;
  width: 100%;
  border-radius: var(--radius-pill);

  &:focus {
    outline: none;
  }

  padding: 0.5rem 0.5rem 0.5rem 0;
}

// .inputsearch {
// }