@use "../../styles//layout/scrollbar.scss" as *;
@import "../../styles/breakpoints";

.teacherContainer{
    // display: flex;
    // flex-wrap: wrap; 
    // padding-left: 2rem;
    // padding-right: 2rem;
    // padding-bottom: 2rem;
    // padding-top: 2rem;
    // justify-content: space-between;
    // overflow-y: scroll;
    // @include scrollbar-type-2;
    // height: 90vh;
}

.message{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: var(--color-primary-40);
  font-size: 2rem;
}
.teacherCard{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    justify-content: space-around;
    overflow-y: scroll;
    @include scrollbar-type-2;
    height: 70vh;
}

.topRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  // height: 35px;
}

.informationType {
  border-radius: var(--radius-pill);
  background-color: var(--color-primary-20);
  width: fit-content;
  height: 35px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.buttons {
  border-radius: var(--radius-pill);
  background-color: var(--color-primary-20);
  color: var(--color-primary-50);
  // color: red;
  cursor: pointer;
  padding: 4px 16px;
}

.active {
  background-color: var(--color-primary-50);
  color: #ffffff;
}

.search {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--color-primary-grey-60);
  border-radius: var(--radius-pill);
  background-color: #ffffff;
  height: 35px; 
  margin-top: auto;
  margin-bottom: auto;
}

.icon {
  color: #000000;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  svg {
    width: 20px;
    height: 20px;
  }
}

.classDropdown {
  position: relative;
  display: inline-block;
  width: 200px;
}

.dropdownSelect {
  width: 100%;
   height: 35px;
  border-color: var(--color-primary-30);
  padding: 8px 36px 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: var(--radius-pill);
  appearance: none; /* Hide default arrow */
  background: white;
  cursor: pointer; 
}

.arrowIcon {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  pointer-events: none;
  color: #555;

  svg{
    width: 25px;
    height: 25px;
    color: black;
  }
}
 

.clearbtn {
  color: var(--color-primary-60);
  background-color:   transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  color: #000000;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: 0.5rem;
  svg {
    width: 20px;
    height: 20px;
  }
}

.text {
  border: none;
  width: 100%;
  border-radius: var(--radius-pill);
 

  &:focus {
    outline: none;
  }

  padding: 0.5rem 0.5rem 0.5rem 0;
}

.inputGroup {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;

  label {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 6px;
  }

  input,
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.95rem;
  }
}


@media (max-width: 767px) {
  .Container{
    height: 76vh;
  }
  .topRow{
    flex-direction: column;
    gap: var(--spacing-s);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .informationType {
    button{
      font-size: 10px;
    }
  }
  .classDropdown{
    width: 100%;
  }
  .teacherCard{
    height: 76vh;
  }
}
