// ------------- BREAKPOINTS ---------------------
$vw-xmobile-max: 323;
$vw-mobile-max: 619;
$vw-tablet-max: 991;
$vw-desktop-min: 992;
$vw-desktop-max-flex: 1184;
$vw-widescreen-min: 1280; //$vw-desktop-max-flex + 48*2;
$vw-hd-min: 1920;

// ------------- BREAKPOINTS REM ---------------------
$vw-xmobile-max-rem: $vw-xmobile-max * 0.0625;
$vw-mobile-max-rem: $vw-mobile-max * 0.0625;
$vw-tablet-max-rem: $vw-tablet-max * 0.0625;
$vw-desktop-min-rem: $vw-desktop-min * 0.0625;
$vw-widescreen-min-rem: $vw-widescreen-min * 0.0625;
$vw-hd-min-rem: $vw-hd-min * 0.0625;

// ------------- MEDIA QUERIES ---------------------
// should not really need to use any other queries except these
$screen-xmobile: "screen and (max-width: #{$vw-xmobile-max-rem}rem)";
$screen-mobile: "screen and (max-width: #{$vw-mobile-max-rem}rem)";
$screen-tablet: "screen and (max-width: #{$vw-tablet-max-rem}rem)";
$screen-tablet-only: "screen and (min-width: #{($vw-mobile-max + 1) * 0.0625}rem) and (max-width: #{$vw-tablet-max-rem}rem)";
$screen-desktop: "screen and (min-width: #{$vw-desktop-min-rem}rem)";
$screen-widescreen: "screen and (min-width: #{$vw-widescreen-min-rem}rem)";
$screen-hd: "screen and (min-width: #{$vw-hd-min-rem}rem)";

$screen-dp-retina: "screen and (-webkit-min-device-pixel-ratio: 2)";

@mixin tablet {
  @media #{$screen-tablet} {
    @content;
  }
}

@mixin tablet-only {
  @media #{$screen-tablet-only} {
    @content;
  }
}

@mixin mobile {
  @media #{$screen-mobile} {
    @content;
  }
}

@mixin desktop {
  @media #{$screen-desktop} {
    @content;
  }
}

@mixin widescreen {
  @media #{$screen-widescreen} {
    @content;
  }
}

@mixin HD {
  @media #{$screen-hd} {
    @content;
  }
}

@mixin aboveHD {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

@mixin aboveHDPlus {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
